.footer {
  margin-top: 10rem;
  background-color: #00060c;
  height: 4rem;
  width: 100%;
}

.footer__content {
  color: #7ea9bf;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

/* 1024px and below */
@media (max-width: 1024px) {
  .footer__content {
    width: 90%;
  }
}

/* 768px and below */
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
  }
}

/* 480px and below */
@media (max-width: 480px) {
  .footer__content {
    width: 100%;
    padding: 0 0.5rem;
  }
}
