/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");

/* Global Styling */

/* Reset stylings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cal Sans", Arial, sans-serif;
  background-color: #15222b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Buttons and Inputs */
button {
  font-family: "Cal Sans", sans-serif;
  background-color: #174a5a;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 5px 40px;
  border: 2px solid #bccace;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #131414;
  transform: scale(1.05); /* Slight scale on hover */
}

input {
  font-family: "Cal Sans", sans-serif;
  color: rgb(20, 20, 20);
  font-size: 1rem;
  padding: 10px 30px;
  border: 1px solid #bccace;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
  color: #609ea7;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 10px;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  text-decoration: underline;
}
